<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm a multi-passionate creator with a knack for bringing ideas to life. Whether it's designing eye-catching graphics, producing engaging podcasts, or experimenting with virtual reality, I love exploring new creative avenues. I’m currently at Integrative Emergency Services as a Marketing & Communications Coordinator. 
            </p>
            <p class="paragraph-text justify-text">
                In my spare time, I love experimenting with new photography techniques and taking my beagle mix rescue, Oakley Ray, on hikes with me.  
            </p>
        </div>
    </section>
</div>
