<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm a multi-passionate creator with a knack for bringing ideas to life. Whether it's designing eye-catching graphics, 
                producing engaging podcasts, or experimenting with virtual reality, I love exploring new creative avenues.
            <p class="paragraph-text justify-text">
                In my spare time, I love experimenting with new photography techniques and taking my beagle mix rescue, Oakley Ray, on hikes with me.  
            </p>
 <p class="paragraph-text justify-text"> 
On a more personal note, I have a strong case of Grandpa Syndrome: I may be young, but I act like I’m 80. I enjoy long walks, 
     making par, and driving at just-slightly below the speed limit to optimize my gas mileage. I often spend my evenings watching Wheel 
     of Fortune with the company of my favorite plant, Fernie Sanders, before retiring to bed around 9. I strategically rearrange my body before sneezing to 
     avoid pulling a muscle, and I overly salt and spice my foods just to feel something. I’ve been told my spirit animal is Larry David, which 
     I think is a bit unfair: just last season I  learned to snowboard (with the help of my oxygen inhaler), so I should at least be compared to 
     Sylvester Stallone or some other spry septuagenarian. But just because I’m an old dog doesn’t mean you can’t teach me a few new tricks: I’m 
     up to date on all the timely TikTok trends and even learned how to play pickleball.
            </p>
        </div>
    </section>
</div>
